# Core
opencv-python
numpy
tensorflow>=2.10.0
scikit-learn
matplotlib
seaborn

# Optional: PyTorch (if needed later)
# torch
# torchvision

# Data Augmentation & Utils
tqdm
Pillow

# Optional: Detection & Training
# ultralytics
# mediapipe

# Data & Utils
kaggle
python-dotenv
requests
